/* Custom fonts */
/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/* All */
body {
    margin: 0;

    font-family: Verdana, Arial, sans-serif;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 1.8em;
}

div {
    overflow: hidden;
}

/* General navigation section */
#general-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#general-nav li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#general-nav li.active a {
    background-color: #6699ff;
    color: #fff;
}

#general-nav li:not(.active) a:hover {
    background-color: #555;
    color: #fff;
}

/* main content */
#main-content {
    margin-left: 28%;
    margin-right: 2em;
}

#main-content footer {
    position: relative;
    bottom: 0;
    width: 70%;
}

#content-section {
    max-width: 50em;
}

/* Messages */
.message {
    font-weight: bold;
}

.message.text-success {
    color: #047526;
}

.message.text-error {
    color: #751912;
}

.message a {
    color: inherit;
    text-decoration: none;
}

/* code as pre */
code.code-block {
    display: block;

    margin-top: 1.5em;
    margin-bottom: 1.5em;

    font-family: monospace;
    line-height: 1.5em;

    white-space: pre;

    border: 1px solid black;

    background-color: #f0f0f0;

    overflow-y: scroll;
}

/* Reference links in super and surrounded by square braces [1], [2] */
a.ref {
    vertical-align: super;
    font-size: 0.7em;

    text-decoration: none;
}

a.ref:before {
    content: '[';
}

a.ref:after {
    content: ']';
}

#ReferenceList {
    font-size: 0.8em;
}

#ReferenceList a:visited {
    color: #2f62ff;
}

.plot-graph {
    overflow: inherit;
    min-height: 300px;
}

/* Style tables */
table.table-bordered {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
}

table.table-bordered, table.table-bordered th, table.table-bordered td {
    border-bottom: 1px solid #aaa;
    padding: 0.5em 1.5em;
    text-align: left;
}

table.table-bordered tbody > tr:nth-child(even) {
    background-color: #ededed;
}

table.table-bordered thead > tr {
    background-color: #6699ff;
}

div.section {
    margin: 1em 0;
}

.menu-toggle {
    display: none !important;
}

@media screen and (min-device-width: 480px) {
    #general-nav > ul {
        display: block !important;
    }
}